﻿@model List<versionamento.Models.Repositorios_VM>
@{
    ViewBag.Title = "Home Page";
}
<br />

@*<style>
        .card {
            color: #f7f7f7;
            background-color: #001236;
        }

        .card-body .api{
            float: left;
        }

        .card-body .app {
            float: right;
        }
        .spanvs {
            font-size: 10px;
        }

    </style>*@

<style type="text/css">
    html, body {
        font-family: 'Fredoka One';
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: #e4e4e4;
    }

    ul {
        margin-block-start: 3px;
        margin-block-end: 3px;
        padding-inline-start: 0px;
        width: 90%;
        text-align: justify;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    header {
        height: 90px;
        width: 92% !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2%;
    }

    #contentImg {
        height: 100%;
        width: 130px;
        margin-left: auto;
    }

    #logoArco {
        width: 100%;
        height: 100%;
    }

    #sectionPrincipal {
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
        width: 100%;
    }

    .listPR {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cardRepository {
        width: 350px;
        height: 350px;
        background-color: #001236;
        margin: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 6px;
    }

    .backgroundRotate {
        height: 70%;
        margin-top: auto;
        background-color: #437ec1;
        position: relative;
        overflow: hidden;
    }

    .contentRepositores {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2%;
    }

    .titleRepo {
        margin-top: 35px;
        margin-left: 17px;
        font-size: 24px;
        color: white;
    }

    .contentDescription {
        color: #717ba8;
        position: relative;
        z-index: 2;
        background-color: transparent;
        display: flex;
        justify-content: center;
        text-align: center;
        transition: 4s;
    }

    .descriptionPR {
        width: 100%;
        height: 70px;
        font-size: 12px;
        color: black;
        text-align: center;
        overflow: auto;
        list-style: none;
    }

    .description {
        background-color: transparent;
        width: 90%;
        height: 80px;
        font-size: 17px;
        font-family: 'Nunito', sans-serif;
    }


    .divRotate {
        margin-top: -140px;
        margin-left: -60px;
        transform-origin: right bottom;
        transform: rotate(10deg);
        background-color: #001236;
        width: 450px;
        height: 210px;
        transition: all 1.3s;
    }

    .ActivedivRotate {
        transition: all 2s;
        transform: rotate(90deg);
    }

    .icon {
        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-left: 20px;
        background-image: url('../../Imgs/next.svg');
        transition: all 1S;
    }

    .transformScale {
        transition: all 1s;
        transform: scaleX(-1);
    }

    .version {
        color: #dbcb20;
        font-size: 12px;
        font-family: 'Libre Baskerville';
        margin-left: 20px;
    }

    .TransactionColor {
        color: #437ec1;
        transition: 1s;
    }

    #iconsvg path {
        fill: white !important;
    }

    #iconsvg {
        width: 50px;
        margin-left: 20px;
        margin-top: -100px;
    }

    .red {
        background-color: #ee4f38 !important;
    }

    #TitlePage {
        display: flex;
        flex-direction: column;
        font-family: 'Fredoka One';
        color: #001236;
        width: 50%;
        font-size: 30px !important;
    }

        #TitlePage span {
            width: 100%
        }

    .descriptionPR ul{
        text-align:center;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>


<section id="sectionPrincipal">
    <header id="header">
        <div id="TitlePage">
            <span>Arco - Sistemas</span>
            <span>Versões</span>
        </div>
        <div id="contentImg">
            <img id="logoArco" src="images/arco.png">
        </div>
    </header>
    <div class="contentRepositores">

        @foreach (versionamento.Models.Repositorios_VM item in Model)
        {

            <div class="cardRepository">
                <span class="titleRepo">@item.Nome</span>
                <span class="version">@item.VersaoAPP</span>
                <div class="backgroundRotate">
                    <div id="contentDescription-@item.Id" class="contentDescription">
                        <span class="description">@item.Descricao</span>
                    </div>
                    <div class="contentPR">
                        <div class="descriptionPR">
                            @Html.Raw(item.PullRequest)
                        </div>
                    </div>
                    <div id="rotation-@item.Id" class="divRotate"></div>
                    <div id="icon-@item.Id" class="icon" onclick="activeRotate('@item.Id')"></div>
                </div>
            </div>
        }
    </div>

</section>

    <script type="text/javascript">


            function activeRotate(id) {
                const icon = $('#icon-' + id);
                const divRotate = $('#rotation-'+id);
                const contentDescription = $('#contentDescription-' + id);
          
                    if (divRotate.hasClass('ActivedivRotate')) {
                        divRotate.removeClass('ActivedivRotate');
                        icon.removeClass('transformScale');
                        contentDescription.removeClass('TransactionColor');
                        return;
                    }

                    divRotate.addClass('ActivedivRotate');
                    icon.addClass('transformScale');
                    contentDescription.addClass('TransactionColor');
            }

            //const backgroundRotate = $('.backgroundRotate');
            //const pullRequest = $('.contentPR');



    </script>


